<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Reporte</title>
</head>
<body>
    <h1>Reporte Completo</h1>
    <p><strong>ID:</strong> {{report.id}}</p>
    <p><strong>Ubicación:</strong> {{report.location}}</p>
    <p><strong>Comentario:</strong> {{report.comment}}</p>

    {{#if latitude}}
        <a href="https://www.google.com/maps?q={{latitude}},{{longitude}}" target="_blank">
            <button>Ver en Google Maps</button>
        </a>
    {{else}}
        <p>Ubicación no disponible</p>
    {{/if}}
    

    <br>
    
<img src="/reportes/{{report.id}}/image" alt="Reporte de Parada" style="height: 300px; widht: 200px;">

<br>
    
<form action="/eliminar-reporte/{{report.id}}" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar este reporte?');">
    <button type="submit">Eliminar Reporte</button>
</form>



    <a href="/home">Volver al Inicio</a>
</body>
</html>
